# group 별 sort_values 적용하기

<br/>
<br/>

- data

In [1]:
import seaborn as sns

df = sns.load_dataset('tips')
df = df.groupby(['day', 'smoker'])[['tip']].sum()
df

                tip
day  smoker
Thur Yes      51.51
     No      120.32
Fri  Yes      40.71
     No       11.25
Sat  Yes     120.77
     No      139.63
Sun  Yes      66.82
     No      180.57

<br/>
<br/>
<br/>
<br/>

- sort_values 적용 시 인덱스가 풀리는 문제 발생

In [2]:
df.sort_values('tip', ascending = False)

                tip
day  smoker
Sun  No      180.57
Sat  No      139.63
     Yes     120.77
Thur No      120.32
Sun  Yes      66.82
Thur Yes      51.51
Fri  Yes      40.71
     No       11.25

<br/>
<br/>
<br/>
<br/>

- 정렬 후 groupby 적용
    - 정렬된 순서에 맞게 groupby 적용하기 위해 sort = False 옵션 추가
    - 첫 번째 그룹은 sort = False 옵션이 적용되었지만, 두 번째 그룹은 적용이 안됨

In [3]:
df = df.reset_index().sort_values('tip', ascending = False)
df

    day smoker     tip
7   Sun     No  180.57
5   Sat     No  139.63
4   Sat    Yes  120.77
1  Thur     No  120.32
6   Sun    Yes   66.82
0  Thur    Yes   51.51
2   Fri    Yes   40.71
3   Fri     No   11.25

In [4]:
df.groupby(['day', 'smoker'], sort = False)[['tip']].sum()

# (Fri, Yes) -> (Fri, No) 순서가 기대되었지만 반대의 결과가 나옴

                tip
day  smoker
Sun  No      180.57
     Yes      66.82
Sat  No      139.63
     Yes     120.77
Thur No      120.32
     Yes      51.51
Fri  No       11.25
     Yes      40.71

<br/>
<br/>
<br/>
<br/>

- groupby를 2번 연속 적용

In [5]:
df

    day smoker     tip
7   Sun     No  180.57
5   Sat     No  139.63
4   Sat    Yes  120.77
1  Thur     No  120.32
6   Sun    Yes   66.82
0  Thur    Yes   51.51
2   Fri    Yes   40.71
3   Fri     No   11.25

In [6]:
df_sort = df.groupby('day', sort = False).apply(
    lambda g : g.groupby('smoker', sort = False, as_index = False).sum().sort_values('tip', ascending=False)
)

df_sort

       smoker     tip
day
Sun  0     No  180.57
     1    Yes   66.82
Sat  0     No  139.63
     1    Yes  120.77
Thur 0     No  120.32
     1    Yes   51.51
Fri  0    Yes   40.71
     1     No   11.25

<br/>
<br/>
<br/>
<br/>

- level1 인덱스 삭제

In [7]:
df_sort.reset_index().drop('level_1', axis = 1).set_index(['day', 'smoker'])

                tip
day  smoker
Sun  No      180.57
     Yes      66.82
Sat  No      139.63
     Yes     120.77
Thur No      120.32
     Yes      51.51
Fri  Yes      40.71
     No       11.25