# pandas.Series.apply(func, convert_dtype=True, args=(), **kwargs)
> Series의 values에 각각 func을 적용

* 데이터 생성

In [2]:
import pandas as pd

df = pd.DataFrame({
    'even' : [2,4,6,8],
    'odd' : [3,5,7,9]
})

df

   even  odd
0     2    3
1     4    5
2     6    7
3     8    9

<br/>
<br/>
<br/>
<br/>

### apply 함수 사용 (기본)
> 각 값을 제곱하는 함수 적용

* 함수 정의 및 적용

In [5]:
def power(x) :
    return x ** 2

df.apply(power)

   even  odd
0     4    9
1    16   25
2    36   49
3    64   81

* lambda 함수 적용

In [6]:
df.apply(lambda x : x**2)

   even  odd
0     4    9
1    16   25
2    36   49
3    64   81

<br/>
<br/>
<br/>
<br/>

### apply 함수 사용 (파라미터 전달)
> 각 값에 파라미터를 더하는 함수 적용

* 함수 정의 및 적용

In [9]:
def add(x, plus) :
    return x + plus

df.apply(add, args = (100,))

   even  odd
0   102  103
1   104  105
2   106  107
3   108  109

* lambda 함수 적용

In [12]:
df.apply(lambda x, plus : x + plus, args = (100,))

   even  odd
0   102  103
1   104  105
2   106  107
3   108  109

<br/>
<br/>
<br/>
<br/>

### apply 함수 사용 (키워드 가변 매개변수)
> 각 값에 파라미터를 더하는 함수 적용

* 함수 정의 및 적용

In [13]:
def add_custom_values(x, **kwargs):
    for month in kwargs:
        x += kwargs[month]
    return x

df.apply(add_custom_values, june = 30, july=20, august=25)

   even  odd
0    77   78
1    79   80
2    81   82
3    83   84

* lambda 함수 적용

In [18]:
df.apply(lambda x, **kwargs : x + sum(kwargs.values()), june = 30, july=20, august=25)

   even  odd
0   152  153
1   154  155
2   156  157
3   158  159

<br/>
<br/>
<br/>
<br/>

### Reference
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html