# Google translate(구글 번역) API
- googletrans : 무료 API
    - 오픈소스
- Google Cloud Translation : 부분 유료API
    - 구글에서 공식적으로 제공
    - 500,000 글자 미만은 무료, 이후 백만 자 당 \$20

<br/>
<br/>
<br/>
<br/>

## googletrans

#### 기본 사용 방법

In [ ]:
# 라이브러리 설치
!pip install googletrans==4.0.0-rc1

In [1]:
import googletrans
googletrans.__version__

'4.0.0-rc.1'

In [2]:
# Translator 사용
translator = googletrans.Translator()

str1 = "나는 고양이를 좋아한다."
str2 = "What a beautiful day!"

result1 = translator.translate(str1, dest='en')
result2 = translator.translate(str2, dest='ko')

print(result1.text)
print(result2.text)

I like cats.
정말 아름다운 날!

In [3]:
# 사용 가능 언어
googletrans.LANGUAGES

{'af': 'afrikaans',
 'sq': 'albanian',
 'am': 'amharic',
 'ar': 'arabic',
 'hy': 'armenian',
 'az': 'azerbaijani',
 'eu': 'basque',
 'be': 'belarusian',
 'bn': 'bengali',
 'bs': 'bosnian',
 'bg': 'bulgarian',
 'ca': 'catalan',
 'ceb': 'cebuano',
 'ny': 'chichewa',
 'zh-cn': 'chinese (simplified)',
 'zh-tw': 'chinese (traditional)',
 'co': 'corsican',
 'hr': 'croatian',
 'cs': 'czech',
 'da': 'danish',
 'nl': 'dutch',
 'en': 'english',
 'eo': 'esperanto',
 'et': 'estonian',
 'tl': 'filipino',
 'fi': 'finnish',
 'fr': 'french',
 'fy': 'frisian',
 'gl': 'galician',
 'ka': 'georgian',
 'de': 'german',
 'el': 'greek',
 'gu': 'gujarati',
 'ht': 'haitian creole',
 'ha': 'hausa',
 'haw': 'hawaiian',
 'iw': 'hebrew',
 'he': 'hebrew',
 'hi': 'hindi',
 'hmn': 'hmong',
 'hu': 'hungarian',
 'is': 'icelandic',
 'ig': 'igbo',
 'id': 'indonesian',
 'ga': 'irish',
 'it': 'italian',
 'ja': 'japanese',
 'jw': 'javanese',
 'kn': 'kannada',
 'kk': 'kazakh',
 'km': 'khmer',
 'ko': 'korean',
 'ku': 'kurdish (kurmanji)',
 'ky': 'kyrgyz',
 'lo': 'lao',
 'la': 'latin',
 'lv': 'latvian',
 'lt': 'lithuanian',
 'lb': 'luxembourgish',
 'mk': 'macedonian',
 'mg': 'malagasy',
 'ms': 'malay',
 'ml': 'malayalam',
 'mt': 'maltese',
 'mi': 'maori',
 'mr': 'marathi',
 'mn': 'mongolian',
 'my': 'myanmar (burmese)',
 'ne': 'nepali',
 'no': 'norwegian',
 'or': 'odia',
 'ps': 'pashto',
 'fa': 'persian',
 'pl': 'polish',
 'pt': 'portuguese',
 'pa': 'punjabi',
 'ro': 'romanian',
 'ru': 'russian',
 'sm': 'samoan',
 'gd': 'scots gaelic',
 'sr': 'serbian',
 'st': 'sesotho',
 'sn': 'shona',
 'sd': 'sindhi',
 'si': 'sinhala',
 'sk': 'slovak',
 'sl': 'slovenian',
 'so': 'somali',
 'es': 'spanish',
 'su': 'sundanese',
 'sw': 'swahili',
 'sv': 'swedish',
 'tg': 'tajik',
 'ta': 'tamil',
 'te': 'telugu',
 'th': 'thai',
 'tr': 'turkish',
 'uk': 'ukrainian',
 'ur': 'urdu',
 'ug': 'uyghur',
 'uz': 'uzbek',
 'vi': 'vietnamese',
 'cy': 'welsh',
 'xh': 'xhosa',
 'yi': 'yiddish',
 'yo': 'yoruba',
 'zu': 'zulu'}

<br/>
<br/>

#### 한글 번역 함수 작성

In [4]:
# 문자열을 입력받아 한글로 번역한 문자열을 반환하는 함수를 작성하세요.
def ko_trans(origin) :
    result = translator.translate(origin, dest = 'ko')
    return result.text

In [5]:
# Translator 생성
translator = googletrans.Translator()

In [6]:
# 함수 사용1
str1 = "I like beer." # 영어
ko_trans(str1)

'나는 맥주를 좋아한다.'

In [7]:
# 함수 사용2
str2 = "私はビールが好きだ." # 일본어
ko_trans(str2)

'나는 맥주를 좋아한다.'

In [8]:
# 함수 사용3
str3 = "我喜欢啤酒." # 중국어(간체)
ko_trans(str3)

'나는 맥주를 좋아한다.'

<br/>
<br/>

#### 데이터프레임에 적용

In [9]:
import pandas as pd
df = pd.DataFrame({
    'number' : [1,2,3],
    'origin' : ["I am a boy.", "You are a girl.", "外に雨が降っていますね."]
})
df

   number           origin
0       1      I am a boy.
1       2  You are a girl.
2       3     外に雨が降っていますね.

In [10]:
%%time
# "origin" 열의 각 문자열을 ko_trans 함수를 적용하여 "trans" 열에 추가하세요.
df['trans'] = df['origin'].apply(ko_trans)
df

Wall time: 1.23 s

   number           origin             trans
0       1      I am a boy.         저는 남자입니다.
1       2  You are a girl.        당신은 소녀입니다.
2       3     外に雨が降っていますね.  밖에서 비가 내리고 있습니다.

In [11]:
df = pd.DataFrame({
    'number' : range(1, 101),
    'origin' : ["I am a boy."] * 100
})
df

    number       origin
0        1  I am a boy.
1        2  I am a boy.
2        3  I am a boy.
3        4  I am a boy.
4        5  I am a boy.
..     ...          ...
95      96  I am a boy.
96      97  I am a boy.
97      98  I am a boy.
98      99  I am a boy.
99     100  I am a boy.

[100 rows x 2 columns]

In [12]:
%%time
# "origin" 열의 각 문자열을 ko_trans 함수를 적용하여 "trans" 열에 추가하세요.
df['trans'] = df['origin'].apply(ko_trans)
df

Wall time: 41.6 s

    number       origin      trans
0        1  I am a boy.  저는 남자입니다.
1        2  I am a boy.  저는 남자입니다.
2        3  I am a boy.  저는 남자입니다.
3        4  I am a boy.  저는 남자입니다.
4        5  I am a boy.  저는 남자입니다.
..     ...          ...        ...
95      96  I am a boy.  저는 남자입니다.
96      97  I am a boy.  저는 남자입니다.
97      98  I am a boy.  저는 남자입니다.
98      99  I am a boy.  저는 남자입니다.
99     100  I am a boy.  저는 남자입니다.

[100 rows x 3 columns]

<br/>
<br/>
<br/>
<br/>

## Google Cloud Translation
1. Google Cloud에서 프로젝트 생성
2. Translate 등록
3. key 발급

#### 기본 사용 방법

In [ ]:
# 라이브러리 설치
!pip install --upgrade google-cloud-translate

In [13]:
# 환경 변수 설정
# 발급받은 key json 파일의 경로를 설정하세요.
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "발급받은 Key 경로"

In [14]:
# translate 사용
from google.cloud import translate_v2 as translate

client = translate.Client()

text = '안녕하세요. 만나서 반갑습니다.'
result = client.translate(text, target_language='en')
print(result['input'])
print(result['translatedText'])
print(result['detectedSourceLanguage'])

안녕하세요. 만나서 반갑습니다.
hello. nice to see you.
ko

In [15]:
# 사용 가능 언어
for language in client.get_languages():
    print(language['language'] + ' - ' + language['name'])

af - Afrikaans
ak - Akan
sq - Albanian
am - Amharic
ar - Arabic
hy - Armenian
as - Assamese
ay - Aymara
az - Azerbaijani
bm - Bambara
eu - Basque
be - Belarusian
bn - Bengali
bho - Bhojpuri
bs - Bosnian
bg - Bulgarian
ca - Catalan
ceb - Cebuano
ny - Chichewa
zh - Chinese (Simplified)
zh-TW - Chinese (Traditional)
co - Corsican
hr - Croatian
cs - Czech
da - Danish
dv - Divehi
doi - Dogri
nl - Dutch
en - English
eo - Esperanto
et - Estonian
ee - Ewe
tl - Filipino
fi - Finnish
fr - French
fy - Frisian
gl - Galician
lg - Ganda
ka - Georgian
de - German
gom - Goan Konkani
el - Greek
gn - Guarani
gu - Gujarati
ht - Haitian Creole
ha - Hausa
haw - Hawaiian
iw - Hebrew
hi - Hindi
hmn - Hmong
hu - Hungarian
is - Icelandic
ig - Igbo
ilo - Iloko
id - Indonesian
ga - Irish
it - Italian
ja - Japanese
jw - Javanese
kn - Kannada
kk - Kazakh
km - Khmer
rw - Kinyarwanda
ko - Korean
kri - Krio
ku - Kurdish (Kurmanji)
ckb - Kurdish (Sorani)
ky - Kyrgyz
lo - Lao
la - Latin
lv - Latvian
ln - Lingala
lt - Lithuanian
lb - Luxembourgish
mk - Macedonian
mai - Maithili
mg - Malagasy
ms - Malay
ml - Malayalam
mt - Maltese
mni-Mtei - Manipuri (Meitei Mayek)
mi - Maori
mr - Marathi
lus - Mizo
mn - Mongolian
my - Myanmar (Burmese)
ne - Nepali
nso - Northern Sotho
no - Norwegian
or - Odia (Oriya)
om - Oromo
ps - Pashto
fa - Persian
pl - Polish
pt - Portuguese
pa - Punjabi
qu - Quechua
ro - Romanian
ru - Russian
sm - Samoan
sa - Sanskrit
gd - Scots Gaelic
sr - Serbian
st - Sesotho
sn - Shona
sd - Sindhi
si - Sinhala
sk - Slovak
sl - Slovenian
so - Somali
es - Spanish
su - Sundanese
sw - Swahili
sv - Swedish
tg - Tajik
ta - Tamil
tt - Tatar
te - Telugu
th - Thai
ti - Tigrinya
ts - Tsonga
tr - Turkish
tk - Turkmen
uk - Ukrainian
ur - Urdu
ug - Uyghur
uz - Uzbek
vi - Vietnamese
cy - Welsh
xh - Xhosa
yi - Yiddish
yo - Yoruba
zu - Zulu
he - Hebrew
zh-CN - Chinese (Simplified)

<br/>
<br/>

#### 함수 작성 후 데이터프레임에 적용

In [16]:
# 문자열을 입력받아 한글로 번역한 문자열을 반환하는 함수를 작성하세요.
def ko_trans(origin) :
    result = client.translate(origin, target_language='ko')
    return result['translatedText']

In [17]:
# Client 생성
client = translate.Client()

In [18]:
import pandas as pd
df = pd.DataFrame({
    'number' : range(1, 101),
    'origin' : ["I am a boy."] * 100
})
df

    number       origin
0        1  I am a boy.
1        2  I am a boy.
2        3  I am a boy.
3        4  I am a boy.
4        5  I am a boy.
..     ...          ...
95      96  I am a boy.
96      97  I am a boy.
97      98  I am a boy.
98      99  I am a boy.
99     100  I am a boy.

[100 rows x 2 columns]

In [19]:
%%time
# "origin" 열의 각 문자열을 ko_trans 함수를 적용하여 "trans" 열에 추가하세요.
df['trans'] = df['origin'].apply(ko_trans)
df

Wall time: 14.4 s

    number       origin      trans
0        1  I am a boy.  저는 남자입니다.
1        2  I am a boy.  저는 남자입니다.
2        3  I am a boy.  저는 남자입니다.
3        4  I am a boy.  저는 남자입니다.
4        5  I am a boy.  저는 남자입니다.
..     ...          ...        ...
95      96  I am a boy.  저는 남자입니다.
96      97  I am a boy.  저는 남자입니다.
97      98  I am a boy.  저는 남자입니다.
98      99  I am a boy.  저는 남자입니다.
99     100  I am a boy.  저는 남자입니다.

[100 rows x 3 columns]